*.bat
.vscode/
.vscode
.idea/*
*.idea
*.history/
*.history
.DS_Store/
.DS_Store
.libs/
.libs
.iml
package-lock.json
**/node_modules/*
**/dist/*
**/public/css/fonts/*.svg
**/public/images/*
**/public/lang/*.json
